.App {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700;800;900&display=swap');
}

.main-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.nav-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.border {
    border-bottom: 3px solid black;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 70px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15;
}

.card-syringe {
    width: 350px;
    height: 480px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.card-syringe:nth-child(3) {
    margin-right: none;
}

.image-block {
    max-width: 350px;
    object-fit: cover;
    height: 250px;
}

img {
    object-fit: cover;
}

.card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.info-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.title-card {
    width: 260px;
    font-weight: 700;
    font-size: 21px;
    height: 64px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.discription-card {
    width: 260px;
    color: #7D7987;
    font-weight: 200;
    font-size: 16px;
    height: 80px;
    margin: 0;
}

.link-button {
    font-size: 17px;
    text-decoration: none;
    color: #4089ED;
    display: flex;
    justify-content: start;
}

.news-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.btn-view-all {
    text-decoration: none;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    border-radius: 30px;
    padding-right: 46px;
    padding-left: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 500;
    max-width: 100px;
    text-align: center;
    margin: 0 auto;
}

@media (max-width:980px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
    }
    .news-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0px 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .card-syringe {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width:515px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0px 0px;
        padding: 0px 0px;
    }
}

@media screen and(max-width:387px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news-cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0px 0px;
        padding: 0px 0px;
    }
    .card-syringe {
        margin-right: 1px;
    }
    .info-card {
        margin: 0px 0px 0px 0px;
    }
}

@media screen and(max-width:640px) {}