.App {
    font-family: 'Mulish', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;700;800;900&display=swap');
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.main-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.header {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.card-syringe {
    width: 350px;
    height: 480px;
    border-radius: 20px;
    background: #FFFFFF;
    margin-right: 30px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.card-syringe:nth-child(3) {
    margin-right: none;
}

.card-image {
    width: 350px;
    height: 250px;
    border-radius: 20px 20px 0px 0px;
}

.info-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}

.title-card {
    width: 260px;
    font-weight: 700;
    font-size: 21px;
    height: 64px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.discription-card {
    width: 260px;
    color: #7D7987;
    font-weight: 200;
    font-size: 16px;
    height: 80px;
    margin: 0;
}

.link-button {
    font-size: 17px;
    text-decoration: none;
    color: #4089ED;
}

.news-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.btn-view-all {
    text-decoration: none;
    color: #458FF6;
    border: 1.4px solid #458FF6;
    border-radius: 30px;
    padding-right: 46px;
    padding-left: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 500;
}

@media screen and(max-width:980px) {
    .card-syringe {
        width: 40%;
    }
}

@media screen and(max-width:640px) {}

@media screen and(max-width:500px) {}

@media screen and(max-width:640px) {}